@font-face {
    font-family: 'Nexa Script Semi Bold';
    src: url('../fonts/NexaScript-SemiBold.eot');
    src: url('../fonts/NexaScript-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexaScript-SemiBold.woff') format('woff'),
    url('../fonts/NexaScript-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

 @font-face {
font-family: 'Titillium Web Regular';
src: url('../fonts/TitilliumWeb-Regular.eot');
src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
    font-family: 'Titillium Web Bold';
    src: url('../fonts/TitilliumWeb-Bold.eot');
    src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
    url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

